// global

#body-combats {
  width:100vw;
  height:100vh;
  display:flex;
  justify-content: space-around;
  align-items: center;
  background: url("https://zupimages.net/up/22/35/1fr9.png") center no-repeat;
  background-size: cover;
}

.arena-info, .arena-deck, .deck-label, .arena-limit {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.arena-deck {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar {
  background-color: #1a1a1a;
  height: 25px;
  width: 500px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  -webkit-box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  position: relative;
  overflow: hidden;
}

.progress-bar span {
    position: absolute;
    height: 100%;
    background-color: #777;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    -webkit-transition: width .4s ease-in-out;
    -moz-transition: width .4s ease-in-out;
    -ms-transition: width .4s ease-in-out;
    -o-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}

.blue span { background-color: #499A90 }

// controls
.go-control {
  display: flex;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  text-align: center;
  background: rgba(255,255,255, 0.5);
}

.go-control > div {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 80px 120px;
}
.arena-limit p {
  font-size: 30px;
}

.deck-label p,
.deck-label h3,
#round-controls h2,
#round-controls h3,
.battle h1,
.arena-limit p {
  font-family: teko;
  color: white;
}

.go-control p {
  padding: 10px 0;
}

.go-control h2 {
  color: #499A90!important;
}

.controls-off { visibility: hidden }
.nx-control {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  bottom: 20vh;
}

.nx-control .btn {
  margin-top: 30px;
}

.btn-combats {
  background-color: #499A90;
  border-color: white;
  color: white;
}

.btn-combats:hover {
  background-color: white;
  border-color: #499A90;
  color: #499A90;
}
