.fake-container {
  height: 700px;
}

.img-txt-container {
  width:100%;
  height:400px;
}
.gap-fake {
  display: block;
  height: 55px;
  background-color: #F4F4F4;
}

.img-container {
  background-color: #dea561;
  border:1px solid #499A90;
  width:75%;
  height:65%;
  margin: 0 auto;
  margin-bottom: 15px;

}

.txt-container {
  width:75%;
  height:20%;
  margin: 0 auto;
  margin-bottom: 15px;
  background-color: #494642;
}


.btn-container {
  background-color: #499A90;
  width:200px;
  height:30px;
  margin: 0 auto;
  background-color: #499A90;
  box-shadow: 2px 2px 2px 1px;
  border-radius: 20px;
  padding: 20px 10px;
  opacity: .8;
}



.btn-container:hover {
  opacity: .9;
  background-color: #14544d;
  transition: ease .5s;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;}

.btn-container p {
  font-size: 24px;
  color:white;
  font-family: "Teko";
  text-align: center;
  line-height: 1px;

}

#h3-fake {
  padding-top:20px;
  font-size: 40px;
  text-align: center;
  font-family: "Teko";
  color:#499A90;
  background-color: #F4F4F4;
  margin: 0 0;

}
