#home {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: url("http://onepage.dropagence.fr/game/place/background-1.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home .home-container {
  position:relative;
}

#home .main-container-items {
  margin: 50px auto;
}

#home .logo-container {
  width: 60%;
  margin: 0 auto;
}

#home .logo {
  width: 100%;
  transform: scale(0.8);
  animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
  infinite alternate;
}

#home .home-sign {
  display: flex;
}

#home .master-btn {
  margin: 0 15px;
}

@keyframes bopB {
  0% {
    transform: scale(0.8);
  }
  80%,
  100% {
    transform: scale(1) rotateZ(-3deg);
  }
}

// animation-home
.personnage-home-walk {
  position: absolute;
  top:10px;
  bottom: 0;
  left:1700px;
  right:0;
  width: 600px;
  height: 600px;
  margin-left: 20px;
  background: url('https://zupimages.net/up/22/35/b2hj.png') right;
  animation: play 1s steps(10) infinite, avance 8s linear;
}
@keyframes play {
  from { background-position: 0px;}
  to   { background-position: -6000px;}
}

@keyframes avance {
  from { transform: translate(280px, 0);  }
  to   { transform: translate(-2800px, 0); }
}

.personnage2-home-walk {
  position: absolute;
  top:40px;
  bottom: 0;
  left:2000px;
  right:0;
  width: 600px;
  height: 600px;
  margin-left: 20px;
  background: url('https://www.zupimages.net/up/22/34/txnl.png') right;
  animation: play 1s steps(10) infinite, avance 8s linear;
}
@keyframes play {
  from { background-position: 0px;}
  to   { background-position: -6000px;}
}

@keyframes avance {
  from { transform: translate(280px, 0);  }
  to   { transform: translate(-3100px, 0); }
}
