#home {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background: url("http://onepage.dropagence.fr/game/place/background-1.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

// .btn-home {
//     border: 3px solid black;
//     border-radius: 15px;
//     padding: 30px 10px;
//     margin: 20px auto;
//     background-color: #499A90;
//     width: 30%;
//     height: 40px;
//     text-align: center;
//     line-height: 0px;
// }

#home a {
  color:white;
  font-size: 40px;
  font-family: 'Teko', sans-serif;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  text-decoration: none;
}

.btn-home:hover {
  background-color: #F7A71E;
  color:white;
  font-size: 24px;
  font-family: 'Teko', sans-serif;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
  transition: ease 1s;
}

.btn-home:hover a {
  color: #499A90;
  transition: ease 1s;
}

#home .logo-container {
  text-align: center;
  width: 60%;
  height: 60%;
  margin: 0 auto;
}

#home .logo {
  width: 70%;
  width: 70%;
  }

  #home .logo {
  transform: scale(0.8);
  animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
  infinite alternate;
}

@keyframes bopB {
  0% {
    transform: scale(0.8);
  }
  80%,
  100% {
    transform: scale(1) rotateZ(-3deg);
  }
}

.home-container {
  position:relative;
}

.personnage-home-walk {
  position: absolute;
  top:10px;
  bottom: 0;
  left:1700px;
  right:0;
  width: 600px;
  height: 600px;
  margin-left: 20px;
  background: url('https://zupimages.net/up/22/35/b2hj.png') right;
  animation: play 1s steps(10) infinite, avance 8s linear;
}
@keyframes play {
  from { background-position: 0px;}
  to   { background-position: -6000px;}
}

@keyframes avance {
  from { transform: translate(280px, 0);  }
  to   { transform: translate(-2800px, 0); }
}

.personnage2-home-walk {
  position: absolute;
  top:40px;
  bottom: 0;
  left:2000px;
  right:0;
  width: 600px;
  height: 600px;
  margin-left: 20px;
  background: url('https://www.zupimages.net/up/22/34/txnl.png') right;
  animation: play 1s steps(10) infinite, avance 8s linear;
}
@keyframes play {
  from { background-position: 0px;}
  to   { background-position: -6000px;}
}

@keyframes avance {
  from { transform: translate(280px, 0);  }
  to   { transform: translate(-3100px, 0); }
}
