// Import page-specific CSS files here.
@import "animations";
@import "combats";
@import "home";
@import "profil";
@import "start_intro";
@import "start_monster";
@import "start_tutoriel";
@import "templates";

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

input {
  background: none;
  border: none;
  font-family: 'Teko', sans-serif;
  font-size: inherit;
  color: white;
}
