a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

// reset input
.connect-true input,
.connect-true input:focus,
.connect-true .form-control,
.connect-true .form-control:focus,
.connect-true .form-control:hover,
.connect-true .form-select,
.connect-true .form-select:focus
.connect-true .form-select:hover {
  all: unset!important;
  display: block!important;
  width: 100%!important;
  padding: 0!important;
  font-size: inherit!important;
  font-weight: inherit!important;
  line-height: inherit!important;
  color: white!important;
  background-color: transparent!important;
  background-clip: none!important;
  border: none!important;
  -webkit-appearance: none!important;
  -moz-appearance: none!important;
  appearance: none!important;
  border-radius: inherit!important;
  transition: inherit!important;
  outline: none!important;
  border: none!important;
  box-shadow: none!important;
  font-family:'Teko', sans-serif!important;
  text-transform: uppercase!important;
}

.connect-true .mb-3 {
  width: 100%!important;
  height: 100%!important;
  font-size: 24px!important;
  display: flex!important;
  margin: 0!important;
  align-items: center!important;
  padding-left: 27px!important;
  text-align: left!important;
}

// reset custom style sur sign_in & sign_up
.connect-false #main-content label,
.connect-false #main-content input {
  color: white;
  font-family: sans-serif;
  text-shadow: none;
  text-transform: none;
}

// Import page-specific CSS files here.
@import "animations";
@import "combats";
@import "home";
@import "profil";
@import "start_intro";
@import "start_monster";
@import "start_tutoriel";
@import "templates";
