#inputname > .btn {
  margin: 0;
  padding:0;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}


.d-flex.align-items-center.flex-column:hover {
  width: 110px;
  height: 110px
}
