/*** Reset ***/

/* Reset CSS Eric Meyer's */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ’’; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
input { -webkit-appearance: none; -moz-appearance: none; appearance: none; }


/* Couleurs

black  -> #2A2A2B
red    -> #DA4D43
yellow -> #FFBD59

/** Global **/
h1, h2, h3, h4, h5, h6 {
    font-family: 'Teko', sans-serif;
    text-transform: uppercase;
    color: white;
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

h1 {font-size: 48px }
h2 {font-size: 40px }
h3 {font-size: 32px }
h4 {font-size: 24px }
h5 {font-size: 16px }

p { font-family: sans-serif; color: white }

/* Layout main */

main.interface {
    width: 100vw;
    height: 100vh;
    background:  url(https://onepage.dropagence.fr/img/bg/bg-side.png), url(https://onepage.dropagence.fr/img/bg/bg-main-dark.png);
    background-size: contain, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: right bottom, center center;
}

#main-header, #main-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
#main-header    {height: 20%;}
#main-container {height: 75%;}

#main-container.monster-menu { align-items: end; }
#main-container.monster-block { align-items: center; }

/* Layout header */

#main-logo {
    max-width:180px;
    object-fit: contain;
}

#main-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-player h2 {
    padding-right: 30px;
}

#main-player .main-player-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 220px;
}

#main-player img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 5px solid #DA4D43;
}

/* Layout monster-block */

#main-content {
    height: 50vh;
    width: 50vw;
    background: #2A2A2B;
    border: 15px solid white;
    border-radius: 50px;
    padding: 50px;
}

#main-controls {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    margin-top: -38px
}

/* Btn */

.circle-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #DA4D43;
}

.large-btn { /* h3 */
    border-radius: 50px;
    background: #DA4D43;
    min-width: 200px;
    padding: 17px 25px 10px;
    text-align: center;
}

.big-btn { /* h2 */
    border-radius: 50px;
    background: #DA4D43;
    min-width: 250px;
    padding: 20px 20px 10px;
    text-align: center;
}

.monster-menu .big-btn {
    margin-bottom: 20px;
}

.master-btn { /* h1 */
    border-radius: 50px;
    background: #2A2A2B;
    min-width: 300px;
    padding: 20px 20px 10px;
    text-align: center;
    border: 7px solid white;
}

.monster-menu .master-btn {
    margin-bottom: 30px;
}

div.large-btn:hover,
div.big-btn:hover,
div.master-btn:hover {
    cursor: pointer;
    opacity: 0.9;
}
