
<div class="container py-5">
  <div class="gap-fake"></div>
  <h3>Recherche d'un adversaire</h3>
  <div class="fake-container">
  <div class="img-txt-container">
    <div class="img-container">
    </div>
    <div class="txt-container">
    </div>
  </div>
    <div class="btn-container">
      <a href="#"><p>TEXTE</p></a>
    </div>
  </div>
</div>
