<body id="home">
  <div class="home-container">

    <div>
      <img class="logo" src="http://onepage.dropagence.fr/game/place/logo-bm.png" alt="Logo Battle Monster" width="10px" height="5px">
    </div>

    <div class="btn-home">
      <%= link_to "Connexion", templates_menu_path  %>
    </div>

    <div class="btn-home">
      <%= link_to "Inscription", templates_inscription_path  %>
    </div>

  </div>
</body>
