<form>
  <h1>Bienvenue sur la page de création de votre compte Battle Monster</h1>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
<br>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Visualiser mon mot de passe</label>
  </div><br>
  <div class="form-group">
    <label for="exampleFormControlFile1">Veuillez importer votre avatar</label><br>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div><br>
  <button type="submit" class="btn btn-primary rounded">Valider</button>
</form>
