<div id="main-container" class="monster-menu">

  <div id="main-container-items">
    <div class="master-btn"><h1>Combats</h1></div>
    <div class="master-btn"><h1>Campagnes</h1></div>
    <div class="master-btn"><h1>Monster Place</h1></div>
    <div class="master-btn"><h1>Monster Dex</h1></div>
  </div>

</div>
