<div class="container py-5">
  <div class="menu-container">
    <div class="container-left">
      <div class="monster-left-top">
        <img src="https://zupimages.net/up/22/35/hi7i.png" alt="Golem" width="483px" height="700px">
      </div>
    </div>
    <div class="container-middle">
      <div class="btn-menu">
        <p class="menu-name">
          <%= link_to "CAMPAGNE", templates_campagne_path  %>
        </p>
      </div>
      <div class="btn-menu">
        <p class="menu-name">
          <%= link_to "COMBAT", templates_combat_path %>
        </p>
      </div>
      <div class="btn-menu">
        <p class="menu-name">
          <%= link_to "MONSTER PLACE", templates_monsterplace_path %>
        </p>
      </div>
      <div class="btn-menu">
        <p class="menu-name">
          <%= link_to "MONSTER DEX", templates_monsterdex_path %>
        </p>
      </div>
    </div>
    <div class="container-right">
      <div class="monster-right-top">
          <img src="https://zupimages.net/up/22/35/cxbd.png" alt="Golem" width="483px" height="700px">
      </div>
    </div>
  </div>
</div>
