.container.py-5 {
  max-width: 100vw;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  background-color: #F4F4F4;
  // background-image: url(https://zupimages.net/up/22/35/1fr9.png");
  // background-size: 100%;
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}

.menu-container {
  display :flex;
  justify-content: space-evenly;
  height : 100%;
  width: 100%;
  background-image: url("https://zupimages.net/up/22/35/1fr9.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 0 0;
}
.container-left {
  height : 80%;
  width: 40vw;
  margin: 0 auto;
}

.container-middle {
  margin-top: 20px;
  height : 50%;
  width: 50%;
  padding: 30px 50px;
  margin: auto 10px;
}
.container-right {
  height : 80%;
  width: 40vw;
  margin: 0 auto;
}

.btn-menu{
  background-color: #499A90;
  width:80%;
  height: 50px;
  box-shadow: 2px 2px 2px 2px;
  border-radius: 20px;
  padding: 30px 10px;
  margin: 30px auto;
  opacity: .8;
}

.btn-menu:hover {
  color:#eeaf0e;
  opacity: .9;
  font-size: 52px;
  background-color: #055249;
  transition: ease .5s;
  padding: 32px 20px;
  margin: 30px auto;
  box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;}

.menu-name {
  color: white;
  font-size: 40px;
  font-family: "Teko";
  margin: 0 auto;
  text-align: center;
  line-height: 0px;
}

.menu-name a {
  font-size: 40px;
  font-family: "Teko";

}

.menu-name a:hover {
  color:white;
}
