.profil-info{
  height: 100%;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
}

.profil-info-avatar {
  border-radius: 50%;
  border: 5px solid #499A90;
  margin-left: 20px
}

.profil-info-content {
  margin-left: 50px;
}

h2, h3, h4, h5, h6 {
  font-family: 'Teko', sans-serif;
  font-weight: bold;
  padding-left: 20px;
  font-weight: bold;
  color: #499A90;

}

h1 {
  font-size:54px;
  font-family: 'Teko', sans-serif;
  font-weight: bold;
  color: #499A90;
}

input {
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.btn {
  font-family: 'Teko', sans-serif;
  font-size: 22px;
}

label {
  font-family: 'Teko', sans-serif;
  font-size: 22px;

}

p {
  font-family: "Helvetica", "sans-serif";
  font-size:18px;
}

a {
  font-family: 'Teko', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.gap {
  display: block;
  padding: 50px;
}

.card{
  cursor: pointer;
}

#voir-monstre a{
  color: white;
  font-family: teko, sans-serif;
  font-size: 25px;
  display: inline-block;
  position: relative;
  text-decoration: none;
}
#voir-monstre:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F7A71E;
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
}
#voir-monstre:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}
body{
  height: 120vh;
}
