<div class="display-cards">
    <div class="card_container">
      <div class="card">
        <img src="http://onepage.dropagence.fr/game/place/golem-1-1.png" alt="Golem" width="180px" height="180px">
        <div class="monster-info">
          <span class="monster-info-top">Durdur</span>
          <span class="monster-info-bottom">Lv 2 - 12pc</span>
        </div>
      </div>
    </div>
    <div class="card_container" >
      <div class="card">
        <img src="http://onepage.dropagence.fr/game/place/troll-1-1.png" alt="Golem" width="180px" height="180px">
        <div class="monster-info">
          <span class="monster-info-top">Kas'tète</span>
          <span class="monster-info-bottom">Lv 10 - 48pc</span>
        </div>      </div>
    </div>
    <div class="card_container" >
      <div class="card">
        <img src="http://onepage.dropagence.fr/game/place/garou-1-1.png" alt="Golem" width="180px" height="180px">
        <div class="monster-info">
          <span class="monster-info-top">Awou Awou</span>
          <span class="monster-info-bottom">Lv 21 - 666pc</span>
        </div>
    </div>
  </div>
