<body id="home">
  <div class= "text-center">
    <img class="logo" src="http://onepage.dropagence.fr/game/place/logo-mp.png" width="550px"><br>
    <div class="text">
      <h2 class="title-light">Recrutez de nouveaux monstres<br>et accédez au sommet de Battle Monster !</h2>
    </div>

    <div class="button">
      <% if user_signed_in? %>
        <%= link_to "Rechercher un Battle Monster", monsters_path  %>
      <% else %>
        <%= link_to "Connecter mon compte Battle Monster", monsters_path %>
      <% end %>
      <div class="personnage1-walk">
    </div>
  </div>
</body>
