<div id="main-container" class="monster-menu">

  <div id="main-container-items">
    <%= link_to connect_path do %>
      <div class="big-btn button-1"><h2>1 versus 1</h2></div>
    <% end %>
    <div class="big-btn button-1"><h2>1 versus IA</h2></div>

    <%= link_to page_main_path do %>
      <div class="big-btn button-1"><h2>Retour</h2></div>
    <% end %>
  </div>

</div>
