<body id="home">
  <%# <div class="container py-5"> %>
    <div class="home-container">
      <div class="logo-container">
        <img class="logo" src="http://onepage.dropagence.fr/game/place/logo-bm.png" alt="Logo Battle Monster" >
      </div>

      <div class="btn-home">
        <%= link_to "Connexion", page_main_path  %>
      </div>

      <div class="btn-home">
        <%= link_to "Inscription", "x"  %>
      </div>

    </div>
  <%# </div> %>
</body>
