<body id="home">

    <div class="home-container">
    <div class="personnage-home-walk"></div>
    <div class="personnage2-home-walk"></div>
      <div class="logo-container">
        <img class="logo" src="http://onepage.dropagence.fr/game/place/logo-bm.png" alt="Logo Battle Monster" >
      </div>
      <div id="main-container">
        <div class="main-container-items">
          <% if !user_signed_in? %>
            <div class="big-btn">
              <h2><%= link_to "Connexion", page_main_path  %></h2>
            </div>

            <div class="big-btn">
              <h2><%= link_to "Inscription", new_user_registration_path  %></h2>
            </div>
          <% else %>
            <div class="big-btn">
              <h2><%= link_to "Menu principal", page_main_path %></h2>
            </div>
          <% end %>
        </div>

      </div>

</body>
