<body id="home">
  <div class="home-container">

    <div class="logo-container">
      <img class="logo" src="http://onepage.dropagence.fr/game/place/logo-bm.png" alt="Logo Battle Monster">
    </div>

    <div class="personnage-home-walk"></div>
    <div class="personnage2-home-walk"></div>

    <div id="main-container">
      <div class="main-container-items">

        <% if !user_signed_in? %>
          <div class="home-sign d-flex">
            <div class="master-btn">
              <h1><%= link_to "Connexion", page_main_path  %></h1>
            </div>

            <div class="master-btn">
              <h1><%= link_to "Inscription", new_user_registration_path  %></h1>
            </div>
          </div>
        <% else %>

          <div class="master-btn">
            <h1><%= link_to "Menu principal", page_main_path %></h1>
          </div>

        <% end %>

      </div>
    </div>

  </div>
</body>
