<div class="main-container" style="background-image: url('http://onepage.dropagence.fr/game/place/background-1.png');">
  <div class="container-left">
    <div class="monster-left-top">
      <img src="https://zupimages.net/up/22/35/hi7i.png" alt="Golem" width="483px" height="700px">
    </div>
  </div>
  <div class="main-content">
    <div class="btn-menu">
      <p class="menu-name">
        <%= link_to "COMBAT", page_combats_path %>
      </p>
    </div>
    <div class="btn-menu">
      <p class="menu-name">
        <%= link_to "CAMPAGNE", "#"  %>
      </p>
    </div>
    <div class="btn-menu">
      <p class="menu-name">
        <%= link_to "MONSTER PLACE", "#" %>
      </p>
    </div>
    <div class="btn-menu">
      <p class="menu-name">
        <%= link_to "MONSTER DEX", "#" %>
      </p>
    </div>
  </div>
  <div class="container-right">
    <div class="monster-right-top">
        <img src="https://zupimages.net/up/22/35/cxbd.png" alt="Golem" width="483px" height="700px">
    </div>
  </div>
</div>
