<main class="interface">
  <div id="main-header">
    <img id="main-logo" src="https://onepage.dropagence.fr/game/bm/img/logo-bm.png">
    <div id="main-player">
      <h2>Ilyes</h2>
      <div class="main-player-menu">
        <img src="https://onepage.dropagence.fr/game/bm/img/static/ilyes.jpg">
        <div class="circle-btn"></div>
        <div class="circle-btn"></div>
      </div>
    </div>
  </div>
  <div id="main-container" class="monster-menu">

    <div id="main-container-items">
      <div class="big-btn"><h2><%= link_to "Combats", page_combats_path %></h2></div>
      <div class="big-btn"><h2>Campagnes</h2></div>
      <div class="big-btn"><h2>Monster Place</h2></div>
      <div class="big-btn"><h2>Monster Dex</h2></div>
    </div>

  </div>
</main>
