<div class="main-container" style="background-image: url('http://onepage.dropagence.fr/game/place/background-1.png');">
  <div class="main-content">
    <div class="btn-menu">
      <p class="menu-name">
        <%= link_to "COMBAT", page_combats_path %>
      </p>
    </div>
    <div class="btn-menu">
      <p class="menu-name">
        <%= link_to "CAMPAGNE", "#"  %>
      </p>
    </div>
    <div class="btn-menu">
      <p class="menu-name">
        <%= link_to "MONSTER PLACE", "#" %>
      </p>
    </div>
    <div class="btn-menu">
      <p class="menu-name">
        <%= link_to "MONSTER DEX", "#" %>
      </p>
    </div>
  </div>
</div>
