<div id="main-container" class="monster-block">
  <div id="main-container-items">
    <div id="main-content" class="monster-tuto">
      <h1>Comment jouer à Battle Monster ?</h1>
      <div class="slider-container">

        <div class="menu">
          <label for="slide-dot-1"></label>
          <label for="slide-dot-2"></label>
          <label for="slide-dot-3"></label>
          <label for="slide-dot-4"></label>
        </div>

        <input checked="" id="slide-dot-1" name="slides" type="radio" />
        <div class="slide slide-1"></div>

        <input id="slide-dot-2" name="slides" type="radio" />
        <div class="slide slide-2"></div>

        <input id="slide-dot-3" name="slides" type="radio" />
        <div class="slide slide-3"></div>

        <input id="slide-dot-4" name="slides" type="radio" />
        <div class="slide slide-4"></div>

      </div>

    </div>

    <div id="main-controls">
      <div></div>
      <div class="large-btn button-1">
        <h3><%=link_to "Finir le tutoriel", page_main_path %></h3>
      </div>
    </div>

  </div>
</div>
