<div id="main-container" class="monster-block">

  <div id="main-container-items">


    <div id="main-content" class="main-content-start-intro">
      <h2>Bienvenue dans Battle Monster</h2>
      <div class="main-content-container">
        <div id="info-intro">
          <img id="tutoreversed" src="https://onepage.dropagence.fr/game/bm/img/static/ugly/tuto.png" alt="" width="250px" height="250px">
          <p id="story">
                  Dans un monde où la paix et l’amour règnent en maître;
                  où l’on peut se garer en double file sans prendre un PV.
                  <br>
                  Où la fin de Game of trône est super...enfin bref je m’égare…
                  <br>
                  Dans ce monde-là il nous faut notre dose de bagarre
                  <br>
                  Découvre la vraie nature du monstre qui sommeille en toi et viens mettre des pieds bouches à tes amis mais aussi à des parfaits inconnus.
                  Une arène deux monstres un seul survivant.
          </p>
        </div>
      </div>
    </div>

    <div id="main-controls">
      <div></div>
      <div class="big-btn button-1">
        <h3><%= link_to "Mon 1er monstre",  page_start_monster_path %></h3>
      </div>
    </div>

  </div>

</div>
