<div id="main-container" class="monster-block">

  <div id="main-container-items">

    <div id="main-content">

      <h1>Erreur 500 : Internal Server Error</h1>



    <div id="main-controls">
      <div></div>
      <div class="big-btn button-1">
        <h3><%= link_to "Retour au menu",  page_main_path %></h3>
      </div>
    </div>
