<div class="main-container">
  <div class="main-content">
    <div class="gap"></div>
    <h1>Salle d'attente</h1>
    <img src="http://onepage.dropagence.fr/game/loading.png" width="750" height="400">
    <h2>Vous allez bientôt rentrer dans l'arène</h2>
    <p>Vous êtes maintenant prêt à combattre,<br>
    Accédez à l’arène via le bouton ci-dessous</p>
    <%= link_to "C'est partie !", "/battles/1", class: 'btn btn-combats'  %>
    <div class="gap"></div>
  </div>
</div>
