<div class="main-container">
  <div class="main-content">
    <div class="gap"></div>
    <h1>C'est un match !</h1>
    <img src="http://onepage.dropagence.fr/game/match.png" width="750" height="400">
    <h2>Vous allez vous mesurer à Tarek</h2>
    <p>Vous venez de matcher avec Tarek via notre algorithme de sélection aléatoire,
    vous pouvez désormais passer à la configuration de votre Deck !</p>
    <%= link_to "Création du Deck", battle_setup_path(1), class: 'btn btn-combats'  %>
    <div class="gap"></div>
  </div>
</div>
