<div class="main-container">
  <div class="main-content">
    <div class="gap"></div>
    <h1>C'est un match !</h1>
    <img src="#" width="750" height="400">
    <h2>Vous allez vous mesurer à Tarek</h2>
    <p>Lorem ipsum is placeholder text commonly used in the graphic, print,
    and publishing industries for previewing layouts and visual mockups.</p>
    <%= link_to "Création du Deck", battle_setup_path(1), class: 'btn btn-combats'  %>
    <div class="gap"></div>
  </div>
</div>
