<div class="main-container">
  <div class="main-content">
    <div class="gap"></div>
    <h1>Préparez votre Deck</h1>
    <img src="#" width="750" height="400">
    <h2>Deck Bêta automatique</h2>
    <p>Lorem ipsum is placeholder text commonly used in the graphic, print,
    and publishing industries for previewing layouts and visual mockups.</p>
    <%= link_to "Salle d'attente", battle_loading_path(1), class: 'btn btn-combats'  %>
    <div class="gap"></div>
  </div>
</div>
