<div class="main-container">
  <div class="main-content">
    <div class="gap"></div>
    <h1>Préparez votre Deck</h1>
    <img src="http://onepage.dropagence.fr/game/setup.png" width="750" height="400">
    <h2>Deck Bêta automatique</h2>
    <p>En version bêta, le Deck est limité.<br>
    Vous pouvez donc passer en salle d'attente !</p>
    <%= link_to "Salle d'attente", battle_loading_path(1), class: 'btn btn-combats'  %>
    <div class="gap"></div>
  </div>
</div>
