.display-cards {
	display : grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap : 15px;
	padding: 10px 15px;
}

.contrat-oui {
  filter: grayscale(100%);
}

.card_container {
  position: relative;
  width: 100%;
  height: 280px;
  border: 1px solid black;
  text-align: center;
  border-radius:  15px;
  overflow: hidden;
  background-color: rgb(220, 220, 220);
  box-shadow: rgba(149, 157, 165, 0.5) 0px 8px 24px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer
}

.card img {
  margin-top: 28px;
}

.card-label {
  margin: 15px auto;
  font-weight: bold;
  color: #499A90
}

.monsters-off a { color: rgb(207, 8, 8) }
.monsters-on a { color: rgb(13, 152, 13) }
.monsters-contrat { color: rgb(201, 132, 3)}

.monster-info-top {
  position: absolute;
  top: 10%;
  bottom: 0;
  right: 0;
  left: 0;
  font-size:  18px;
  font-family: 'Patrick Hand', cursive;
  color: rgba(240, 240, 240, .5);
}

.monster-info-bottom {
  position: absolute;
  top: 80%;
  bottom: 0;
  right: 0;
  left: 0;
  font-size:  18px;
  font-family: 'Patrick Hand', cursive;
  color: rgba(240, 240, 240, .5);
}

.card_container:hover {
  /*box-shadow: rgba(239, 219, 67, 0.43);*/
  border: 5px solid gold!important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card_container:hover .monster-info-top {
  font-size: 28px;
  font-family: 'Patrick Hand', cursive;
  color: white;
  top: 5%;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.5s ease-out;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.card_container:hover .monster-info-bottom {
  font-size: 28px;
  font-family: 'Patrick Hand', cursive;
  color: white;
  top: 75%;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 0.5s ease-out;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}
