#navbarDropdown {
  cursor: pointer;
  border: 2px solid #f4f4f4
}

#navbarDropdown, ul{
  list-style-type: none;
  padding: 0%;
  // text-align: center;
}
#voir-monstre{
  color: white;
  font-family: teko, sans-serif;
  font-size: 25px;
  display: inline-block;
  position: relative;
}
#voir-monstre:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #F7A71E;
  transform-origin: bottom right;
  transition: transform 0.15s ease-out;
}
#voir-monstre:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.navbar{
  position: relative;
  background: #499A90;
  box-shadow: 0px 3px 20px 0px #499A90;
}

.position-absolute{
  position: absolute;
  // transform: translate(-50%, -50%);
  top: 0;
  left: 43%;
  height: 150px;
  width: 200px;
  object-fit: contain;
  // transition: all 0.1s ease-in;
  transform: scale(0.8);
  animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards
  infinite alternate;
  // &:hover{
  //   height: 200px;
  //   width: 210px;
  // }
  margin: 0 auto;
}

@keyframes bopB {
  0% {
    transform: scale(0.8);
  }
  80%,
  100% {
    transform: scale(1) rotateZ(-3deg);
  }
}
