  <% # yield %>

  <link rel="preload" as="image" href="https://onepage.dropagence.fr/game/bm/img/logo-bm.png" />
  <link rel="preload" as="image" href="https://onepage.dropagence.fr/game/bm/img/bg/bg-main-dark.png" />
  <link rel="preload" as="image" href="https://onepage.dropagence.fr/game/bm/img/bg/bg-main-light.png" />
  <link rel="preload" as="image" href="https://onepage.dropagence.fr/game/bm/img/bg/bg-side.png" />

  <link rel="preload" as="image" href="https://onepage.dropagence.fr/game/bm/img/anim/golem/left/golem-idle.png" />
  <link rel="preload" as="image" href="https://onepage.dropagence.fr/game/bm/img/anim/golem/left/golem-attack.png" />
  <link rel="preload" as="image" href="https://onepage.dropagence.fr/game/bm/img/anim/golem/left/golem-die.png" />
  <link rel="preload" as="image" href="https://onepage.dropagence.fr/game/bm/img/anim/golem/right/golem-idle.png" />
  <link rel="preload" as="image" href="https://onepage.dropagence.fr/game/bm/img/anim/golem/right/golem-attack.png" />
  <link rel="preload" as="image" href="https://onepage.dropagence.fr/game/bm/img/anim/golem/right/golem-die.png" />

  <link rel="preload" as="image" href="https://onepage.dropagence.fr/game/bm/img/anim/garou/left/garou-idle.png" />
  <link rel="preload" as="image" href="https://onepage.dropagence.fr/game/bm/img/anim/garou/left/garou-attack.png" />
  <link rel="preload" as="image" href="https://onepage.dropagence.fr/game/bm/img/anim/garou/left/garou-die.png" />
  <link rel="preload" as="image" href="https://onepage.dropagence.fr/game/bm/img/anim/garou/right/garou-idle.png" />
  <link rel="preload" as="image" href="https://onepage.dropagence.fr/game/bm/img/anim/garou/right/garou-attack.png" />
  <link rel="preload" as="image" href="https://onepage.dropagence.fr/game/bm/img/anim/garou/right/garou-die.png" />

  <link rel="preload" as="image" href="https://onepage.dropagence.fr/game/bm/img/anim/troll/left/troll-idle.png" />
  <link rel="preload" as="image" href="https://onepage.dropagence.fr/game/bm/img/anim/troll/left/troll-attack.png" />
  <link rel="preload" as="image" href="https://onepage.dropagence.fr/game/bm/img/anim/troll/left/troll-die.png" />
  <link rel="preload" as="image" href="https://onepage.dropagence.fr/game/bm/img/anim/troll/right/troll-idle.png" />
  <link rel="preload" as="image" href="https://onepage.dropagence.fr/game/bm/img/anim/troll/right/troll-attack.png" />
  <link rel="preload" as="image" href="https://onepage.dropagence.fr/game/bm/img/anim/troll/right/troll-die.png" />
</main>
